@page "/todolist"
@using BlazorTodoList.TodoList


<PageTitle>Todo</PageTitle>


<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="type your list here" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>
<button @onclick="RemoveCompletedTodos">Remove completed</button>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }

    }

    private void RemoveCompletedTodos()
    {
        todos = todos.Where(todo => !todo.IsDone).ToList();
    }
}
